<section [ngClass]="{
    'activo card': activate, 
    'card': !activate
}">
    <h1>{{name}}</h1>
    <img src="{{image}}" alt="monsters-avatar">
    <article class="datos">
        <img src="../../../assets/images/estrella.png" alt="victory-points">
        <p>{{victory}}</p>
        <img src="../../../assets/images/corazon.png" alt="health-points">
        <p>{{health}}</p>
        <img src="../../../assets/images/energia.png" alt="energy-points">
        <p>{{energy}}</p>
    </article>
</section>