<section [ngClass]="{
    'active card': activate, 
    'card': !activate,
    'eliminated card':dead
}">
    <h1>{{name}}</h1>
    <img src="{{image}}" alt="monsters-avatar">
    <img *ngIf="inTokyoBay" src="../../../assets/images/avatares/tokyoBay.png" alt="tokyo-avatar">
    <img *ngIf="inTokyo" src="../../../assets/images/avatares/tokyo.png" alt="tokyo-avatar">
    <article class="points">
        <img src="../../../assets/images/estrella.png" alt="victory-points">
        <p>{{victory}}</p>
        <img src="../../../assets/images/corazon.png" alt="health-points">
        <p>{{health}}</p>
        <img src="../../../assets/images/energia.png" alt="energy-points">
        <p>{{energy}}</p>
    </article>
</section>