.icon {
  width: 18px;
  height: 16px;
  display: inline-block;
  position: relative;
  margin-right: 0.25em;
  font-size: 1.5rem;
}

.roll-icon {
  background: url('../../../assets/images/icons/dice-icon-mini.png') no-repeat
    center;
  background-size: 100%;
}

.end-icon {
  background: url('../../../assets/images/icons/next.png') no-repeat center;
  background-size: 100%;
}

.exit-icon {
  background: url('../../../assets/images/icons/exitR.png') no-repeat center;
  background-size: 100%;
}
