div {
  background: rgba(0, 0, 0, 0.96);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 15px;
  grid-row: 1/7;
}

div h1 {
  color: white;
  font-size: 2em;
  grid-row: 1/2;
}

div h2 {
  color: white;
  font-size: 1.5em;
  grid-row: 3/4;
}

div img {
  grid-row: 2/3;
  height: 100%;
  max-width: 95vw;
}
